<select id='select_region' class="selectpicker" data-width="400px" data-size="10">
  <option value="all">Выберите регион</option>
  <% regions.each_key do |k| %>
      <% region = regions[k] %>
      <option value="<%= region[:id] %>"><%= region[:title] %></option>
  <% end %>
</select>