div.c80_push_page_dealers {
  @include clearfix;

  > div {
    float: left;
  }

  div.select_region_row {
    height: 53px;
    width: 100%;
  }

  div.map_container {
    width: 100%;
    height: 600px;
  }

}